body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}
 .div1 {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: right;
    height: 100vh;
    background-color: #f4f4f4;
}
.profile-photo {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: center;
    border: 5px solid #333;
}
.profile-container {
    text-align: center;
} 
h1 {
    margin-top: 20px;
    font-size: 24px;
}
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 2em;
    margin: 0 auto;
    max-width: 800px;
}

.project {
    border: 1px solid #71776f;
    padding: 1em;
    margin-bottom: 1em;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 0.5em;
}

form input, form textarea {
    padding: 0.5em;
    margin-top: 0.2em;
    border: 1px solid #ccc;
}

form button {
    margin-top: 1em;
    padding: 0.5em;
    background-color: #1e839c;
    color: #fff;
    border: none;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    width: 100%;
    bottom: 0;
}
